body {
    display: grid;
    place-content: center;
}
.logo{
    margin-top: 0px;
}
h1{
    font-size: 3rem;
    font-weight: 500;
    padding-block: 0px;
}
.img-box{
    background-color: #dedbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.6rem;
    width: 3rem;
}
.form {
    width: 25rem;
    margin-top: 5rem;
    min-height: 30rem;
    min-width: fit-content;
    background-color: #f7f7f7;
    box-shadow: 0px 1px 3px  rgba(0, 0, 0, 0.3);
}
.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2px;
}
a {
    text-decoration: none;
    color: #0c7ff6;
}
.username input, .password input {
    padding: 7px;
    width: 15rem;
    height: 3rem;
    border: 1px solid whitesmoke;
}     
.username, .password {
    display: flex;
    align-items: center;
    margin-block: 0.8rem;
}      
.password{
    margin-bottom: 1.6rem;
}
.primary {
    border: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #0c7ff6;
    font-size: large;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    width: 20rem;
    height: 3rem;
}
.rememberforgot {
    margin-top: 0.7rem;
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.register {
    width: 25rem;
    text-align: center;
}